<%-include("includes/header")-%>
<link rel="stylesheet" href="css/addAddress.css">
<body>
    <div class="container custom-container mb-4 mt-5">
        <h2>Edit Address</h2>
        <form class="row" method="post" action="/api/editAddress?id=<%= address._id %>" id="form">
            <!-- <hr class="colorgraph"> -->
            <div class="col-md-12 mx-auto my-3">
                <p>Full Name :</p>
                <input type="text" class="form-control border-3" id="fName" name="fName" placeholder="Full Name" value="<%= address.fullName %>">
                <p class="err-msg d-flex justify-content-center" id="errorElement1" style=" color: red;font-size: 14px;"></p>
            </div>
            <div class="col-md-6 mx-auto my-3">
                <p>Pincode :</p>
                <input type="number" class="form-control border-3" id="pincode" name="pincode" placeholder="Pincode" value="<%= address.pincode %>">
                <p class="err-msg d-flex justify-content-center" id="errorElement2" style=" color: red;font-size: 14px;"></p>
            </div>
            <div class="col-md-6 mx-auto my-3">
                <p>Locality :</p>
                <input type="text" class="form-control border-3" id="locality" name="locality" placeholder="Locality" value="<%= address.locality %>">
                <p class="err-msg d-flex justify-content-center" id="errorElement3" style=" color: red;font-size: 14px;"></p>
            </div>
            <div class="col-md-12 mx-auto my-3">
                <p>Address :</p>
                <input type="text" class="form-control border-3" id="address" name="address" placeholder="Address" value="<%= address.address %>">
                <p class="err-msg d-flex justify-content-center" id="errorElement4" style=" color: red;font-size: 14px;"></p>
            </div>
            <div class="col-md-6 mx-auto my-3">
                <p>District :</p>
                <input type="text" class="form-control border-3" id="district" name="district" placeholder="District" value="<%= address.district %>">
                <p class="err-msg d-flex justify-content-center" id="errorElement5" style=" color: red;font-size: 14px;"></p>
            </div>
            <div class="col-md-6 mx-auto my-3">
                <p>State :</p>
                <input type="text" class="form-control border-3" id="state" name="state" placeholder="State" value="<%= address.state %>">
                <p class="err-msg d-flex justify-content-center" id="errorElement6" style=" color: red;font-size: 14px;"></p>
            </div>
            <!-- <hr class="colorgraph"> -->

            <div class="col-12 mx-auto text-center">
                <button type="submit" id="submit" class="btn btn-save w-25">Save</button>
            </div>
        </form>

    </div>
    <script src="js/addressValidation.js"></script>
</body>
<%-include("includes/footer")-%>